<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboard.css">
    <title>DeepCurrent</title>
</head>
<body>
    <div class="navbar">
        <ul class="nav">
            <li>Home</li>
            <li>Dashboard</li>
            <li>Predictions</li>
            <li>Data Upload</li>
            <li>Insights</li>
            <li>Documentation</li>
        </ul>
    </div>
</body>
</html>